.hero-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
    height: 500px;
}

.left-box {
    background-color: #339a69;
    color: white;
    border-radius: 20px;
    padding: 3rem 2rem;
    width: 500px;
    text-align: center;
    font-size: 40px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.left-box strong {
    color: #f1b722;
}

.right-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.info-box {
    background-color: #339a69;
    color: white;
    border-radius: 20px;
    width: 500px;
    height: 490px;
    box-sizing: border-box;
}

.info-box p {
	margin: 30px 0px 0px 30px;
	font-size: 25px;
	font-weight: 500;
}

.dog-box {
    background-color: #f1b722;
    border-radius: 20px;
    width: 500px;
    height: 490px;
    position: relative;
    overflow: visible;
}

.dog-box img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 280px;
    height: auto;
    transform: translateY(6%);
}

#button {
    background-color: white;	
    color: #339a69;
    font-weight: 600;
    border-radius: 30px;
    font-size: 35px;
    padding: 15px 30px 15px 30px;
    margin-top: 50px;
    transition: all 0.18s ease;
}

#button:hover {
    transform: scale(1.05);
}